<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clothesup.turningpoint.clothesup">

    <!-- naver app을 통한 인증을 위해 필요한 permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1651373271790820" />

        <activity
            android:name=".login.MainLoginActivity"
            android:label="ClothesUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".store.DetailStoreActivity" />
        <activity android:name=".store.ReviewActivity" />

        <!--activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="ClothesUp"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /-->
        <activity android:name=".more.AfterLoginActivity" />
        <activity android:name=".more.NoticeActivity" />
        <activity android:name=".more.GuideActivity" />
        <activity android:name=".more.QandAActivity" />

        <!-- [naveroauthlogin][start] 네이버아이디로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <!-- [naveroauthlogin][end] -->

        <activity android:name=".main.MainTabLayout"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".map.PopupActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" />
    </application>

</manifest>